/REST/Jersey/WSClient/nbproject/private/
/JEE/curso-jee7/nbproject/private/
/JEE/curso-jee7/curso-jee7-ejb/nbproject/private/
/JEE/curso-jee7/curso-jee7-war/nbproject/private/
/JEE/curso-jee7/curso-jee7-ejb/build/
/JEE/curso-jee7/build/
/JEE/curso-jee7/curso-jee7-ejb/dist/
/JEE/curso-jee7/curso-jee7-war/dist/
/JEE/curso-jee7/curso-jee7-war/build/