.tabela_basica {
    font-size: small;
    border-width: medium;
    border-style: groove;
    width: 100%;
    text-align: center;
}

.msg_error {
    color: red;
    font-weight: bolder;
}

.logo {
    width: 100px; 
}

#top {
    position: relative;
    color: #036fab;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-size: xx-small;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


